@font-face {
	font-family: Avant; /* Имя шрифта */
	src: url(font/Avant.otf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: Lemon; /* Имя шрифта */
	src: url(font/LemonMilkbold.otf); /* Путь к файлу со шрифтом */
}
* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
button {border: none;background: none}
img {vertical-align: bottom;}
a {text-decoration: none; color: inherit;}
body {background: #fafcfc;}

.container {
	position: relative;
	max-width: 1170px;
	margin: auto;
	padding: 25px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.blue-btn {
	cursor: pointer;
	text-transform: uppercase;
	padding: 15px 40px;
	background: #18a3dd;
	color: #fff;
	font-family: 'Lato';
	font-weight: 600;
	font-size: 16px;
	letter-spacing: .4px;
	border-radius: 35px;
}
.dwnld-btn {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 50px;
}
.dwnld-btn span {font-weight: 300;}
.title {
	text-align: center;
	font-family: "Raleway";
}
.title h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
	color: #333740;
}
.white-title h2 {color: #e5e5e5;}
.title span {
	font-weight: 300;
	margin-left: 30px;
	position: relative;
}
.title span:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 2px;
	background: #18a3dd;
	border-radius: 1px;
	left: 0;
	margin-left: -15px;
}
.title p {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 16px;
	letter-spacing: .4px;
	color: #83888f;
	margin-top: 15px;
}
/*________________________________ header ________________________________*/
/*______ logo _____*/
.header-logo {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}
.header-logo h3 {
	margin: 0 15px;
	font-family: "HelveticaNeueCyr";
	font-size: 15px;
	color: #656973;
}
/*______ menu _____*/
.header-menu {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: 1s;
	transition: 1s;
	-webkit-transform-origin: right center;
	        transform-origin: right center;
	-webkit-transform: scale(0) translateX(20%);
	        transform: scale(0) translateX(20%);
	opacity: 0;
}
.menu-nav_active {
	-webkit-transform: scale(1) translateX(0);
	        transform: scale(1) translateX(0);
	opacity: 1;
}
.menu-nav a {
	color: #333;
	font-family: "Lato";
	font-size: 20px;
	margin-right: 20px;
}
/*______ burger _____*/
.menu-btn {
	position: relative;
	width: 68px;
	height: 68px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	width: 35px;
	height: 6px;
	background: #666;
	border-radius: 1px;
}
.menu-btn span:before,.menu-btn span:after {content: '';-webkit-transition: .3s;transition: .3s}
.menu-btn span:before {margin-top: 10px;}
.menu-btn span:after {margin-top: -10px;}
.menu-btn_active span:before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	        transform: translate(-50%,-50%) rotate(45deg);
	        margin: 0;
}
.menu-btn_active span:after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	        transform: translate(-50%,-50%) rotate(-45deg);
	        margin: 0;
}
.menu-btn_active span {height: 0;}
/*______ line _____*/
.head_hr:after {
	content: '';
	position: absolute;
	width: calc(100% - 30px);
	height: 1px;
	background: #ebebeb;
	bottom: 0;
}
/*________________________________ hero ________________________________*/
#hero {position: relative;}
/*______ img _____*/
#hero img {
	position: absolute;
	right: 0;
	margin-top: 180px;
}
.hero-container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 285px 0;
}
.hero-head {
	position: relative;
	font-family: "Raleway";		
	color: #333740;
	padding-left: 30px;
}
.hero-head:before {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 5px;
	background: #18a3dd;
	border-radius: 1px;
}
.hero-head h1 {
	font-size: 72px;
	text-transform: uppercase;
	font-weight: 800;
}
.hero-head span {
	font-size: 24px;
	font-weight: 800;
}
.hero-text {
	width: 435px;
	font-family: 'Lato';
	font-size: 16px;
	letter-spacing: .4px;
	color: #666;
	margin: 70px 0 50px 0;
}
.hero-bttns a {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: .4px;
	color: #333740;
	margin-left: 20px;
}
.hero-bttns i {
	font-size: inherit;
	color: #18a3dd;
}
/*________________________________ numbers ________________________________*/
#numbers {
	position: relative;
	background: -webkit-gradient(linear, left top, right top, from(#21172b), to(#0f0816));
	background: linear-gradient(90deg, #21172b, #0f0816)
}
#numbers img {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.numbers-container {
	position: relative;
	padding: 115px 0;
	margin-left: 400px;
	max-width: 935px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.numbers-item {
	font-family: 'Lato';
}
.numbers-item h2 {
	position: relative;
	color: #fff;
	line-height: 50px;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: 800;
	padding-left: 30px;
	margin-bottom: 20px;
}
.numbers-item h2:before {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 5px;
	background: #18a3dd;
	border-radius: 1px;
}
.numbers-item span {
	color: #18a3dd;
	font-size: 16px;
	text-transform: uppercase;
}
.numbers-item p {
	color: #848186;
}
/*________________________________ features ________________________________*/
.features-container {
	padding: 115px 15px 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.features-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 70px;
}
.features-item {padding: 65px 90px 25px}
.features-item-left {
	padding-left: 0;
	text-align: right;
}
.features-item-right {
	text-align: left;
	padding-right: 0;
}
.features-item-left h3:after {right: 0;}
.features-item-right h3:before {left: 0;}
.features-item-left h3:after,
.features-item-right h3:before {
	content: '';
	position: absolute;
	top: 5px;
	height: calc(100% - 10px);
	width: 5px;
	background: #18a3dd;
	border-radius: 1px;
}
.features-item h3 {
	position: relative;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: bold;
	letter-spacing: .5px;
	color: #333740;
	text-transform: uppercase;
	padding: 0 20px 20px;
}
.features-item p {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .4px;
	color: #5b5f64;
}
/*________________________________ results ________________________________*/
#results {background: #fff;}
.results-container {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 115px 15px;
}
.results-wrapper {
	position: relative;
	padding: 75px 0;
}
.results-item {
	position: relative;
	text-align: center;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.results-img-real {
	height: 300px;
	width: 260px;
	overflow: hidden;
	margin-right: -50px;
    z-index: 2;
}
.results-img-real img {
	-o-object-fit: none;
	   object-fit: none;
	-o-object-position: 100%;
		object-position: 100%;
	width: 100%;
	height: 100%;
}
.results-img-res {
	max-height: 400px;
	position: relative;
}
.results-text {
	color: #333740;
	font-family: 'Lato';
	text-align: left;
	margin: 0 0 0 30px;
}
.results-kilos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.results-kilos > div {
	margin: 0 25px 40px 0;
}
.results-text h3 {
	font-size: 40px;
	font-weight: 800;
	padding-bottom: 15px;
}
.results-text span {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
}
.results-text h4 {
	color: #18a3dd;
	font-size: 16px;
	font-weight: 300;
}
.results-text h2 {
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
}
.results-name {position: relative;}
.results-name:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 5px;
	background: #18a3dd;
	border-radius: 1px;
}
.results-name h2,.results-name span {padding: 0 5px 5px 30px;}
/*________________________________ testimonials ________________________________*/
#testimonials {
	background: url(pic/testi-bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}
#testimonials:after {
	background: rgba(15,8,22, .9);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;	
}
.testimonials-container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 110px 15px;
	z-index: 1;
}
.testimonials-wrapper {
	position: relative;
	padding: 75px 0 30px;
}
.testimonials-item {
	position: relative;
	text-align: center;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.testimonials-text p {
	max-width: 745px;
	margin: auto;
	text-align: center;
	color: #a9a9a9;
	font-family: 'Lato';
	font-size: 16px;
	font-style: italic;
}
.testimonials-person {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 30px;
	text-align: left;
	color: #e5e5e5;
}
.testimonials-hex {
	overflow: hidden;
	width: 70px;
	height: 80px;
  	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);  
	margin: 0 25px;
}
.testimonials-hex img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: 85% 20%;
	   object-position: 85% 20%;
}
.testimonials-descr h2 {
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.testimonials-descr span {
	position: relative;
	font-family: "Lato";
	text-transform: ;
	font-size: 14px;
	font-weight: 300;
	color: #a9a9a9;
}
.testimonials-descr span:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: -10px;
	height: 200%;
	width: 5px;
	background: #18a3dd;
	border-radius: 1px;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transform-origin: left bottom;
	        transform-origin: left bottom;
}
/*________________________________ supplement ________________________________*/
#supplement {background: #fafcfc;}
.supplement-container {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 115px 15px;
}
.supplement-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 75px;
}
.supplement-wrapper > div {
	position: relative;
	margin: 0 10px;	
	max-width: 480px; 
	width: 100%;
}
.supplement-ingredients-head {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 10px 50px;
	font-family: "Lato";
	font-weight: 800;
	letter-spacing: .4px;
	color: #333740;
	text-transform: uppercase;
}
.supplement-ingredients-head h3 {font-size: 24px;font-weight: 800;}
.supplement-ingredients-head h4 {font-size: 16px;font-weight: 800;}
.supplement-ingredients-head span {font-weight: 300;text-align: right;display: block;}
.supplement-ingredients-head:after {
	content: '';
	position: absolute;
	left: 3%;
	height: 5px;
	width: 94%;
	background: #333740;
	top: 70%;
}
.supplement-ingredients ul li {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: "Lato";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .4px;
	color: #333740;
}
.supplement-ingredients ul li:after {
	content: '';
	position: absolute;
	left: 3%;
	bottom: 0;
	height: 1px;
	width: 94%;
	background: #ebebeb;
	-webkit-transition: .5s;
	transition: .5s;
}
.supplement-ingredients ul li:hover {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	background: #fff;
	padding: 20px 10px;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.24);
	        box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.24); 
}
.supplement-ingredients ul li:hover:after {display: none;}
.supplement-info {
	padding-left: 80px;
}
.supplement-info-hex {
	overflow: hidden;
	width: 100px;
	height: 120px;
  	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);  
}
.supplement-info-name {position: relative;margin: 45px 0 30px;}
.supplement-info-name:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 5px;
	background: #18a3dd;
	border-radius: 1px;
}
.supplement-info-name h2,.supplement-info-name span {
	padding: 0 5px 5px 30px;
	color: #333740;
	font-family: "Raleway";
	text-transform: uppercase;
	font-size: 16px;
}
.supplement-info span {font-weight: 300;text-transform: lowercase;}
.supplement-info h2 {font-weight: 800;}
.supplement-info p {
	font-family: 'Lato';
	font-size: 16px;	
	font-weight: 400;
	line-height: 24px;
	letter-spacing: .4px;
	color: #5b5f64;
}
#products li span {pointer-events:none;}
/*________________________________ sertifications ________________________________*/
#sertifications {background: #f1f4f5;}
.sertifications-container {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 115px 15px;
}
/*________________________________ drugs ________________________________*/
#drugs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.drugs-img {
	padding-top: 115px;
	max-width: 911px;
	overflow: hidden;
}
.drugs-img  img {float: right;}
.drugs-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;

}
.drugs-text-name {position: relative;}
.drugs-text-name:before {
	content: '';
	position: absolute;
	top: 20%;
	height: 60%;
	width: 5px;
	background: #18a3dd;
	border-radius: 1px;
}
.drugs-text-name h2,.drugs-text-name span {
	padding: 0 5px 5px 30px;
	color: #333740;
	font-family: "Raleway";
	text-transform: uppercase;
	font-size: 20px;
}
.drugs-text span {font-weight: 300;font-family: "Lato"}
.drugs-text h2 {font-weight: 800;font-size: 30px;}
.drugs-text-descr {
	font-family: 'Lato';
	font-size: 16px;	
	font-weight: 400;
	line-height: 24px;
	letter-spacing: .4px;
	color: #5b5f64;
	max-width: 355px;
	margin: 35px 0;
}
/*________________________________ subs ________________________________*/
#subs {
	background: url(pic/sub-bg.jpg);
	background-size: cover;
	background-position: 10% 10%;
	position: relative;
}
#subs:after {
	background: rgba(0,0,0, .9);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;	
}
.subs-container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 110px 15px;
	z-index: 1;
}
.subs-form {
	width: 100%;
	max-width: 560px;
	margin: 70px auto 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.subs-btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.subs-form input {
	font-family: 'Lato';
	font-size: 16px;
	width: 100%;
	border: none;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	padding-left: 40px;
}
/*________________________________ inquire ________________________________*/
#inquire {background: #fff;}
.inquire-container {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 115px 15px;
}
.inquire-form {	
	width: 100%;
	max-width: 560px;
	margin: 70px auto 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.inquire-form * {
	font-family: 'Lato';
	font-size: 16px;
	border:none;
	border-bottom: 1px solid #ebebeb; 
	resize: none; 
	width: 100%; 
	margin-top: 30px;
	padding: 10px 0;
	position: relative;
}
.inquire-form div {
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.inquire-form div input{width: 48%;}
.inq-btn {
	width: unset;
	padding: 20px 90px;
}
/*________________________________ footer ________________________________*/
footer {
	background: #f1f4f5;
	color: #666666;
	font-family: 'Lato';
	font-size: 16px;
	padding: 23px 0;
}
.footer-links-menu ul {display: -webkit-box;display: -ms-flexbox;display: flex;}
.footer-links-menu ul li {
	margin-top: 22px;
	position: relative;
	list-style: none;
	padding-right: 24px;
}
.footer-links-menu ul li:not(:last-child):after {
	content: '';
	background: #d9d9d9;
	width: 1px;
	height: 13px;
	position: absolute;
	margin-top: 4px;
	margin-left: 12px;
}
.footer-links-menu ul li a {font-size: 14px;}
.footer-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-media i {
	padding-left: 50px;
	font-size: 20px;
}